@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h3>@ViewData["Title"]</h3>
<p class="login-box-msg"> Please check your email to reset your password.</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }