@using WebApp.Models.ViewModels;
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

    <p class="login-box-msg">Reset your password</p>
    <div asp-validation-summary="All" class="text-danger mt-2"></div>

    <form method="post">
        <input asp-for="Code" type="hidden" />
        <div class="input-group mb-3">
            <input asp-for="Email" type="email" class="form-control" placeholder="Email" autocomplete="username" aria-required="true">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            <input type="password" asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="New Password">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            <input type="password" asp-for="ConfirmPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Confirm Password">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="my-3">
            <button type="submit" class="btn btn-dark btn-block">Reset</button>
        </div>
    </form>
            
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
